.layout {
    font-family: Onest, sans-serif;
}

.mainContent {
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

@media screen and (min-width: 992px) {
    .layout {
        padding: 0 20px
    }
}

@media screen and (max-width: 992px) {
    .mainContent {
        width: 96%;
        padding-top: 15px;
    }
}
