@font-face {
  font-family: "Onest";
  src: local("Onest"), url(./assets/font/Onest-VariableFont_wght.ttf) format('opentype');
}
@font-face {
  font-family: "Onest";
  src: local("Onest"), url(./assets/font/Onest-Bold.ttf) format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: "Onest";
  src: local("Onest"), url(./assets/font/Onest-Medium.ttf) format('opentype');
  font-weight: 500;
}

:root {
  --brand-orange: #FF5C04;
  --brand-orange-dark: #E75201;

  --brand-black: #303030;
  --brand-grey-dark: #4D4E4E;
  --brand-grey: #969696;

  --bg-grey: #F3F3F1;
  --light-grey: #EFF0F2;
  --brand-white: #FFFFFF;

  --title-bg-first: #4D4E4E66;
  --title-bg-second: #3030304D;
  --title-bg-blur: blur(20px);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a:hover {
  color: var(--bg-grey);
}
